
<div class="row">
<% if @follows.any? %>
  <%= render :partial => "show" %>
<% end %>
   
<h1>タイムライン</h1>
<% if @feed_items.any? %>
  <%= render :partial => "feed" %>
<% end %>
</div>


